<div class="container">
<div class="row">
    <div class="col-lg-12">
        <p class="text-muted">
          Biosensing technologies are finding their way beyond wristbands and eyeglasses, into clothing, furniture, and ingestibles. They offer opportunities for advances in our emotional and social wellbeing, but the sensitivity of data also raises important stewardship challenges. The group at UC Berkeley brings together a multi-disciplinary team to work on the future of biosensing and biosignaling.
          <br>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Frontiers</h4>
        <p class="text-muted">health, wellness, and human augmentation</p>
        <p class="text-muted">education and learning</p>
        <p class="text-muted">affective and social computing</p>
        <p class="text-muted">ambient intelligence and anticipatory computing</p>
        <p class="text-muted">art, expression, and aesthetics</p>
    </div>
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Technologies</h4>
        <p class="text-muted">sensing modalities and platforms</p>
        <p class="text-muted">signal acquisition and processing</p>
        <p class="text-muted">data analytics and visualization</p>
        <p class="text-muted">interface and interaction design</p>
    </div>
    <div class="col-md-4">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Stewardship</h4>
        <p class="text-muted">security and privacy</p>
        <p class="text-muted">ethics, law, and policy</p>
        <p class="text-muted">agency, consent, and data ownership</p>
        <p class="text-muted">education</p>
    </div>
</div>
