
extends layout

block content
  section.about
    !=contents['about.md'].html
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.hasMore

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) &laquo; Newer
    if nextPage
      a(href=nextPage.url) Next page &raquo;
