<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/biosignals.css" rel="stylesheet">
    <link href="../../css/project-page.css" rel="stylesheet">

    <style>
    </style>

</head>

<body id="page-top" class="index">

  <div class="container">

    <div class = "back-button">
      <a href= "/#projects">&#8592; Back to BioSENSE</a>
    </div>

    <h1> {{ title }}</h1>

    <div class = "authors">
      {{ authors.join(', ') }}
    </div>

    {{ html|safe }}

  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">Copyright © UC Berkeley <script>document.write(new Date().getFullYear())</script>
</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="../../js/jquery_002.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../js/bootstrap.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../../js/jquery.js"></script>
  <script src="../../js/classie.js"></script>
  <script src="../../js/cbpAnimatedHeader.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../../js/agency.js"></script>
</body></html>

